.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px; 
    background-color: white;
    padding-bottom: 10px;
    color: black;
    height: 100vh;
    border-right: 2px #cbcd8d solid;
    div {
        display: flex;
        cursor: pointer;
        height: 40px;
        width: 160px;
        padding-left: 8px;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.navbar-item-onclick{
    /* color: rgba(34, 34, 96, 1) !important; */
    background: #D9D9D9;
    border-radius: 16px;
    border-style: solid;
    border-width: thin;
    /* height: 30px; */
}

.navbar-item:hover, .navbar-bottom:hover {
    text-decoration: underline;
}

.navbar-item-content {
    padding-left: 10px;
}
.navbar-bottom {
    position: fixed;
    bottom: 0;
    display: flex;
    cursor: pointer;
    height: 40px;
    width: 160px;
    align-items: center;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.hello {
    font-style: italic;
}