@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,700&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
